<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for :session, url: sessions_path, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :email, :wrapper => :prepend, :label => "Email" do %>
        <%= content_tag :span, (raw '<i class="icon-user"></i>'), :class => "add-on abbn" %>
        <%= f.input_field :email %>
      <% end %>
      <%= f.input :password, :wrapper => :prepend, :label => "Password" do %>
        <%= content_tag :span, (raw '<i class="icon-lock"></i>'), :class => "add-on abbn" %>
        <%= f.input_field :password %>
      <% end %>
      <%= f.input :remember, :label => "Remember Me" do %>
        <%= f.input_field :remember, :as => :boolean %>
      <% end %>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sign in</button>
        </div>
      </div>
    <% end %>
  </div>
</div>
