<div class="row">
  <div class="span6 offset3">
    <%= simple_form_for :session, url: sessions_path, :html => { :class => 'form-horizontal' } do |f| %>
      <%= f.input :email, :wrapper => :prepend, :label => "Email", :class => "" do %>
        <%= content_tag :span, (raw '<i class="icon-user"></i>'), :class => "add-on abbn" %>
        <%= f.input_field :email %>
      <% end %>
      <%= f.input :password, :wrapper => :prepend, :label => "Password", :class => "" do %>
        <%= content_tag :span, (raw '<i class="icon-lock"></i>'), :class => "add-on abbn" %>
        <%= f.input_field :password %>
      <% end %>
      <%= f.button :submit, :class => 'btn pull-right' %>
    <% end %>
  </div>
</div>