!!! 5
%html
  %body
    %h1
      %center Your event has been approved to appear on CPP
    %p
      %strong Company:
      %span= @company.name
    %p
      %strong Position:
      %span= @placement.position
    %p
      %strong Description:
      %span= @placement.description
    %p
      %strong Location:
      %span= @placement.location
    %p
      %strong Created At:
      %span= @placement.created_at
 
