!!! 5
%html
  %body
    %h1
      %center Your opportunity has been rejected and will not appear on CPP
    %p
      %strong Opportunity details
    %p
      %strong Company:
      %span= @company.name
    %p
      %strong Position:
      %span= @placement.position
    %p
      %strong Description:
      %span= @placement.description
    %p
      %strong Location:
      %span= @placement.location
    %p
      %strong Created At:
      %span= @placement.created_at
    %p
      If you wish to find out the reason for the opportunity being rejected,
      please contact the site admins Will and Victoria.
 
