!!! 5
%html
  %body
    %h1 A new event has been posted on CPP 
    %p Title:
    %p= @event.title
    %p Start Date:
    %p= @event.start_date
    %p End Date: 
    %p= @event.end_date
    %p Description:
    %p= @event.description
    %p Created At:
    %p= @event.created_at
    %p Please login and approve/reject the event
    %p If you are not Will or Victoria... woops.
    %p event id
    %p= @event.id
    <!-- %p= button_to "Approve", "http://localhost:3000/events/57/approve", :class => "button", method => :put -->
    <!-- %p= button_to "Approve", "http://localhost:3000/events", :class => "button", :method => :get -->
    <!-- %code.language-ruby -->
    %p= link_to "Approve", "http://localhost:3000/events/#{@event.id}/approve", :class => "button", :method => :get

    <!-- link_to "Approve", "http://localhost:3000/events/", :id => @event.id, :class => "button" -->
    
