!!! 5
%html
  %body
    %h1 <center>A new event has been posted on CPP</center> 
    %p <b>Title:</b>
    %p= @event.title
    %p <b>Company:</b>
    %p= @company.name
    %p <b>Description</b>
    %p= @event.description
    %p <b>Date:</b>
    %p= @event.start_date
    %p <b>Created At:</b>
    %p= @event.created_at
    %p Please login before approving or rejecting the <a href="#{@url}/events/#{@event.id}">event</a> using the links below
    %p= link_to "Approve", "#{@url}/events/#{@event.id}/approve", :class => "button", :method => :get
    %p=	link_to "Reject",  "#{@url}/events/#{@event.id}/reject", :class => "button", :method => :get
    
 
