<div class="row">
  <div class="span3">
    <h1 class="section-header">Filters</h1>
  </div>
  <div class="span9">
    <h1 class="section-header">Companies</h1>
    <div class="table-toolbar">
      <div class="btn pull-right">
        Add Company
      </div>
      <div class="clear"></div>
    </div>
    <table class="table table-bordered sortable">
      <thead>
        <tr>
          <th class="sorttable_nosort"><%= check_box_tag "master-check", 1, false %></th>
          <th colspan=2 class="sorttable_nosort">Company</th>
          <th>Placements</th>
          <th>Locations</th>
          <th>Stuff</th>
          <th class="sorttable_nosort"></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= check_box_tag "test-check1", 1, false, {:class => "check-boxes"} %></td>
          <td><%= image_tag "company_logos/google_logo.jpg", {:class => "admin-company-logo"} %></td>
          <td>Google</td>
          <td>2</td>
          <td>London</td>
          <td>&nbsp;</td>
          <td>
            <div class="student-profile-buttons">
              <div class="btn">
                View
              </div>
              <div class="btn">
                Edit
              </div>
              <div class="btn btn-danger">
                Delete
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= check_box_tag "test-check2", 1, false, {:class => "check-boxes"}%></td>
          <td><%= image_tag "company_logos/amazon_logo.jpg", {:class => "admin-company-logo"} %></td>
          <td>Amazon</td>
          <td>3</td>
          <td>America</td>
          <td>&nbsp;</td>
          <td>
            <div class="student-profile-buttons">
              <div class="btn">
                View
              </div>
              <div class="btn">
                Edit
              </div>
              <div class="btn btn-danger">
                Delete
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>