<div class="row">
  <div class="span3">
    <h1 class="section-header">Filters</h1>
  </div>
  <div class="span9">
    <h1 class="section-header">Emails</h1>
    <div class="table-toolbar">
      <div class="btn pull-right">
        New Email
      </div>
      <div class="clear"></div>
    </div>
    <table class="table table-bordered sortable">
      <thead>
        <tr>
          <th class="sorttable_nosort"><%= check_box_tag "master-check", 1, false %></th>
          <th>Company</th> 
          <th>Subject</th>
          <th>Body</th>
          <th>Approval Status</th>
          <th>&nbsp;</th>
          <th class="sorttable_nosort">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td><%= check_box_tag "test-check1", 1, false, {:class => "check-boxes"} %></td>
          <td><%= image_tag "company_logos/imperial_logo.jpg", {:class => "admin-company-logo"}  %></td> 
          <td>Imperial College London</td> 
          <td><%= "Upcoming Department Event!".truncate(40) %></td>
          <td><%= lipsum('paragraphs', 1).truncate(40) %></td>
          <td><div class="label label-success">approved</div></td>
          <td>
            <div class="student-profile-buttons">
              <div class="btn btn-small">View</div>
            </div>
          </td>
        </tr>
        <tr>
          <td><%= check_box_tag "test-check2", 1, false, {:class => "check-boxes"} %></td>
          <td><%= image_tag "company_logos/google_logo.jpg", {:class => "admin-company-logo"}  %></td>
          <td>Google</td> 
          <td><%= "Google CodeF".truncate(40) %></td>
          <td><%= lipsum('paragraphs', 1).truncate(40) %></td>
          <td><div class="label label-warning">pending</div></td>
          <td>
            <div class="student-profile-buttons">
              <div class="btn btn-small">View</div>
              <div class="btn btn-small btn-success">Approve</div>
              <div class="btn btn-small btn-danger">Reject</div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>