<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
  <span class="icon-bar"></span>
</a>
<a class="brand" href="/"><%= image_tag "imperial.png" %></a>
<div class="nav-collapse">
  <ul class="nav">
    <li>
      <a href="#companies">Companies</a>
    </li>
    <li>
      <a href="#events">Events</a>
    </li>
    <li>
      <a href="#placements">Placements</a>
    </li>
  </ul>

<% if current_user %>
  <ul class="nav pull-right">
    <li class="divider-vertical"></li>
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= current_user.full_name %> <b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="<%= profile_path %>">My Profile</a></li>
        <li><a href="<%= settings_path %>">Account Settings</a></li>
        <li class="divider"></li>
        <li><a href="/logout">Log Out</a></li>
      </ul>
    </li>
  </ul>
<% else %>
  <%= form_for :session, url: sessions_path, html: {class: "navbar-form pull-right"} do |f| %>
    <%= f.text_field :email, class: "input-small", placeholder: "Email" %>
    <%= f.password_field :password, class: "input-small", placeholder: "Password" %>
    <%= f.submit "Log In", class: "btn " %>
  <% end %>
<% end %>
</div>
